<h1>Login</h1>

<% form_tag :action => 'verify' do %>
  <ul class="form">
    <li class="highlight"><label for="user_name">Name:</label>
      <%= text_field 'user', 'name' %></li>
    <li class="highlight"><label for="user_passwd">Password:</label>
      <%= password_field 'user', 'passwd' %></li>
  </ul>
  <ul class="form"><li><%= submit_tag 'Login' %></li></ul>
<% end %>