<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>COFGRATX - The free online Context Free Grammar Translator</title>
  <meta name="title" content="COFGRATX" />
  <meta name="description" content="COFGRATX - The free online Context Free Grammar Translator" />
  <meta name="keywords" content="free context free grammar translator, context free grammar site, context free grammar"/>

  <%= stylesheet_link_tag 'cofgratx' %>
</head>
<body>
<% cache :action_suffix => "nav" + session[:user].nil?.to_s do %>
  <div class="navigation">
    <ul class="main_tabs">
	  <%= nav_tab("Home","default","home","") %>
	  <%= nav_tab("Grammars","grammar","workpad","my_grammars,public_grammars,help,new,edit,create,update") %>
	 <% if session[:user] == nil %>
	  <%= nav_tab("Login","user","login","verify") %>
	  <%= nav_tab("Register","user","new","create") %>
	 <% else %>
	  <%= nav_tab("Logout","user","logout","") %>
	 <% end %>
	</ul>
	<% if controller.controller_name == "grammar" %>
	<ul class="sub_tabs" id="grammars_tab">
	  <%= nav_tab("Workpad","grammar","workpad","") %>
	  <%= nav_tab("My Grammars","grammar","my_grammars","") %>
	  <%= nav_tab("Public Grammars","grammar","public_grammars","") %>
	  <%= nav_tab("Help","grammar","help","") %>
	</ul>
	<% end %>
  </div>
<% end %>
<div class="notices">
  <noscript>Javascript does not appear to be enabled for your browser</noscript>
  <%= flash[:notice] %>
</div>
<div class="yield">
  <% unless session[:user].nil? %>
    <div class="welcome">
	  Welcome, <%= session[:user][:name] %>
	</div>
  <% end %>
  <%= yield %>
</div>

<div class="footer">
Copyright 2009, <a href="mailto:mrcallahat at yahoo period com">T. Callahan</a>
</div>
</body>
</html>